*{
    padding: 0;
    margin: 0;
}

.homepage{
    background-color: #FFFFFF;
}

section.homepage__top--nav{
    margin-bottom: 1.25rem;
}

.homepage__top--link{
    font-size: 1.5625rem;
    margin-left: 6.25rem;
    text-decoration: none;
    color: #335576;
    font-weight: 700;
}

nav.homepage__navbar a{
    text-decoration: none; 
}

.homepage__navbar ul{
    display: flex;
    justify-content: right;
    margin-right: 12.5rem;
}

.homepage__navbar--item{
    /* display: inline-block; */
    margin: 0 1.25rem;
}

.homepage__navbar ul li{
    list-style-type: none;
}

/* .travel-site__container{
    display: inline-block;
} */

.homepage__navbar--item--link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    color:black;
    font-weight: bold;
  }
  
  .homepage__navbar--item--link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .125rem;
    bottom: 0;
    left: 0;
    background-color: #DB7A4E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .homepage__navbar--item--link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nav.homepage__navbar a{ 
    text-decoration: none; 
}

section.destination-page-hawaii{
   background-image: url("../assets/images/hawaii.jpg");  
   height: 56.25rem;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   padding: 0;
}

.destination-page-hawaii{
    /* text-align: center; */
    background-color:#FFFFFF;
    padding-bottom: 1.25rem;
}

.destination-page-hawaii h2{
    color:#FFFFFF;
    padding: 3.125rem;
    /* margin-bottom: 0; */
    font-size: 5rem;
}

section.destination-page-iceland{
    background-image: url("../assets/images/iceland.jpg");  
    height: 56.25rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
 }
 
 .destination-page-iceland{
     /* text-align: center; */
     background-color:#FFFFFF;
     padding-bottom: 1.25rem;
 }
 
 .destination-page-iceland h2{
     color:#FFFFFF;
     padding: 50px;
     /* margin-bottom: 0; */
     font-size: 5rem;
 }

 section.destination-page-greece{
    background-image: url("../assets/images/greece.jpg");  
    height: 56.25rem;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
 }
 
 .destination-page-greece{
     /* text-align: center; */
     background-color:#FFFFFF;
     padding-bottom: 1.25rem;
 }
 
 .destination-page-greece h2{
     color:#FFFFFF;
     padding: 3.125rem;
     /* margin-bottom: 0; */
     font-size: 5rem;
 }

.destinations__card--section{
    display: flex;
    justify-content: center;
}

.destinations__card{
    width: 20.625rem;
    height: 27.5rem;
    padding: 1.25rem;
    text-align: center;
    /* margin: 20px; */
    /* margin: 8.125rem; */
    margin: 2rem;
    border-radius: .3125rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* display: inline-block; */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background-size: cover;
    position: relative;
    background-color: #FFFFFF;
}

.destinations__card--section h3{
    border-bottom: 3px solid black;
    width: 100%;
    display: block;
    margin-bottom: 2.1875rem;
}


.destinations__card--list {
    /* align-content: center; */
    list-style-type: none;
    background-color: #FEFAF5;
    /* height: 50px; */
    margin-top: 1.5625rem;
    text-align: center;
    padding: 1.25rem;
}

.destinations__card:hover{
    border-color: #335576;
    box-shadow: 10px 5px 5px #335576;
    /* box-shadow: 25rem 25rem #DB7A4E; */
}

.homepage__footer{
    padding: 2rem;
    background-color: #FEFAF5;
    /* display: flex; */
    /* flex-direction: row; */
    display: flex;
    justify-content: center;
    gap: 10rem;
}
/* 
.homepage__footer--container{
    justify-content:space-between;
} */

.homepage__footer h3,p{
    color: #335576;
}

.footer__subtitle{
    color: #DB7A4E;
    font-size: .6875rem;
}

/* .homepage__footer--hours{

} */

.footer__section{
    display: flex;
    padding-top: 1.25rem;
}

.footer__section--info{
    padding-right: 3rem;
}

.footer__subtitle{
    padding-right: 1.25rem;
}

.homepage__footer--contact h3{
    padding-bottom: 0.6rem;
}

.homepage__footer--hours h3{
    padding-bottom: 1rem;
}

.homepage__footer-social-media h3{
    padding-bottom: 1rem;
}

.footer__section a{
    padding-right: 4rem;
}




